body {
  margin: 0;
  background-color: #b6b7b7;
}
.container {
  display: flex;
  flex-direction: row;
}
.header {
  background-color: #0D0D0D;
  padding: 0.5em 0.5em;
}
/*ham billede knappen*/
.btn-toggle-nav {
  background-color: #0D0D0D;
  padding-top: 6%;
  border: none;
  cursor: pointer;
}
.btn-toggle-nav img {
  margin-left: 60%;
}
/*navigationen*/
.nav-sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  height: calc(100vh - 60px);
  z-index: 1000;
}
.nav-sidebar ul {
  margin-top: auto;
  background-color: #0D0D0D;
  padding-top: 0.625em;
  padding-left: 8%;
  overflow: hidden;
  visibility: hidden;
}
.nav-sidebar ul li{
  line-height: 3.75em;
  list-style: none;
}
.nav-sidebar ul li a{
  display: block;
  height: 3.75em;
  text-decoration: none;
  color: #fff;
  font-family: helvetica;
  font-size: 1em;
  white-space: nowrap;
}
.nav-sidebar ul li a:hover {
  background-color: #56595C;
}
/*indhold*/
.content {
  position: relative;
  width: 50%;
  margin-top: 5%;
  left: 6%;
}
.under .btn {
  position: absolute;
  top: 50%;
  left: 10%;
  background-color: #e06436;
  border-radius: 0.2em;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  height: 1em;
  cursor: pointer;
  white-space: nowrap;
  border: none;
}
.under a {
  text-decoration: none;
  text-align: left;
  color: #fff;
  font-size: 1em;
  font-family: helvetica;
}
.tekst {
  font-size: 0.8125em;
  font-family: helvetica;
  margin: 10%;
  margin-top: 20%;
  margin-bottom: 5%;
  line-height: 1.5em;
}
.solid {
  border-top: 0.1875em solid #000;
}
.hjælpknap {
  color: #fff;
  font-weight: bold;
  font-size: 1.125em;
  font-family: helvetica;
  line-height: 1.8em;
  background-color: #e06436;
  border-radius: 0.2em;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 18%;
  padding-top: 2%;
  height: 1em;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  text-align: center;
  margin-top: 5%;
  margin-left: 22%;
  margin-bottom: 5%;
}
/*index css slut*/

/*Create New Template css start Signe*/
.grid-container {
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows:auto;
  grid-gap: 2px;
  background-color: #b6b7b7;
  padding: 10px;
  text-align: center;
}
.orangetekst{
  text-align: center;
  font-family: helvetica;
  color: #E06436;
  font-size: 1.9em;
}
.tekst1 {
  font-size: 1.2em;
  font-family: helvetica;
  margin: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
  line-height: 1.5em;
  color: #000000;
}
.containe {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  color: #000000;
  padding: 0.2em;
}

/* Hide the browser's default checkbox */
.containe input {
  position: absolute;
  cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
  position: relative;
  width: 50px;
  background-color:#eee;
  border: none;
  padding-right: 4em;
  padding-left: 4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: 0.2em;
  text-align: center;
  color: #000000;
  font-size: 1.2em;
  font-family: "Helvetica";
}
/* When the checkbox is checked, add a blue background */
.containe input:checked ~ .checkmark {
  background-color: #E06436;
  color:#ffffff;
  transition-duration: 0.2s;
}
/* Show the checkmark when checked */
.containe input:checked ~ .checkmark:after {
  display: inline-flex;
}
input[type=text]{
   background-color:#FFFFFFFF;
   border: solid;
   border-radius: 0.2em;
   border-color: #cdcdcd;
   text-align: center;
   color: #000000;
   font-size: 1.2em;
   font-family: "Helvetica";
   transition-duration: 0.4s;
}
#btn1{
   background-color:green;
   border: none;
   border-radius: 0.2em;
   padding-left: 10%;
   padding-right: 10%;
   padding-bottom: 4%;
   padding-top: 4%;
   text-align: center;
   color: #ffffff;
   font-size: 2em;
   font-family: "Helvetica";
   transition-duration: 0.2s;
   margin: 0.5em;
   cursor: pointer;
 }
.btn2 button{
   background-color:#e06436;
   border: none;
   border-radius: 0.2em;
   padding-left: 6%;
   padding-right: 6%;
   padding-bottom: 4%;
   padding-top: 4%;
   text-align: center;
   color: #ffffff;
   font-size: 1.5em;
   font-family: "Helvetica";
   transition-duration: 0.2s;
   margin: 0.5em;
   cursor: pointer;
 }
/*Create New Template css slut*/

 /*Start på Control Panel Sylvester*/
 .container1 h1{
   text-align: center;
   font-family: helvetica;
   color: #E06436;
   font-size: 2em;
   margin-top: 10%;
 }
 .container2 h1{
   margin-top: 1.5em;
   text-align: center;
   font-family: helvetica;
   color: #E06436;
   font-size: 2em;
 }
 /*Control panel billede/Sylvester*/
 .container2 img{
   width: 100%;
   max-width: 400px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2em;
 }
 /*Dropdown Menu/Sylvester*/
 .skabelonknap {
   background-color: #fff;
   color:#000;
   padding: 15px;
   font-size: 1em;
   border-width: thin;
   cursor: pointer;
   width: 100%;
   border-color: #000;
   text-align: left;
 }
 .skabelon {
   display: inline-block;
   position: relative;
   width: 90%;
   margin-left: 5%;
 }
 .skabelon-content {
   display: none;
   position: relative;
   background-color: #fff;
   width: 100%;
   overflow: auto;
 }
 .skabelon-content a {
   color: #000;
   padding: 15px;
   display: block;
   text-decoration: none;
   font-family: helvetica;
 }
 .skabelon a:hover {
   background-color: #56595C;
   color: #fff;
 }
 .view {
   display: block;
 }

 /*Manifest/Sylvester*/

 /*Manifest/Sylvester Skabelon1 */
 .manifest {
   font-family: helvetica;
   background-color: #888;
   margin: 2em;
   padding: 1em;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 0.2em;
   max-width: 400px;
 }
 .manifest h1{
   font-weight: bold;
   font-size: 16px;
   margin-bottom: 10%;
 }
 .manifest hr{
   border-width: 0.5px;
 }
 .manifest img {
   float: right;
   width: 18px;
   height: 18px;
 }
 .manifest h2{
   text-align: left;
   font-size: 18px;
 }
 .manifest p{
    float: right;
    margin:0 ;
    padding:0 ;
 }

 /*Manifest/Sylvester Skabelon2,3 og 4 */
 .manifest1 {
   font-family: helvetica;
   background-color: #888;
   margin: 2em;
   padding: 1em;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 0.2em;
   max-width: 400px;
 }
 .manifest1 h1{
   font-weight: bold;
   font-size: 16px;
   margin-bottom: 10%;
 }
 .manifest1 hr{
   border-width: 0.5px;
 }
 .manifest1 img {
   float: right;
   width: 18px;
   height: 18px;
 }
 .manifest1 h2{
   text-align: left;
   font-size: 18px;
 }
 .manifest1 p{
   float: right;
   margin:0 ;
   padding:0 ;
 }

 /*Manifest/Sylvester Skabelon 5 */
 .manifest2 {
   font-family: helvetica;
   background-color: #888;
   margin: 2em;
   padding: 1em;
   text-align: center;
   margin-left: auto;
   margin-right: auto;
   display: block;
   border-radius: 0.2em;
   max-width: 400px;
 }
 .manifest2 h1{
   font-weight: bold;
   font-size: 16px;
   margin-bottom: 10%;
 }
 .manifest2 hr{
   border-width: 0.5px;
 }
 .manifest2 img {
   float: right;
   width: 18px;
   height: 18px;
 }
 .manifest2 h2{
   text-align: left;
   font-size: 18px;
 }
 .manifest2 p{
    float: right;
    margin:0 ;
    padding:0 ;
 }
 /*Manifest liste til manifest /Sylvester/  */
 .liste1 {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align:left;
   font-size: 14px;
   color: #fff;
 }
 .solid1 {
   border: 1em solid #fff;
 }
 /*Manifest accordion /Sylvester/  */
 .udvid {
   background-color: #56595C;;
   color: #000;
   cursor: pointer;
   width: 100%;
   padding: 5px;
   border: none;
   border-radius: 0.2em;
   text-align: center;
   font-size: 1.5em;
   font-weight: bold;
   outline: none;
   transition-duration: 0.1s;
 }
 .boks{
   padding: 0 16px;
   display: none;
   background-color: #56595C;
   overflow: hidden;
 }
/*control panel css slut*/
